/* Sci-fi navbar */
.hud-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  background: rgba(0, 255, 255, 0.03);
  border-bottom: 1px solid rgba(0, 255, 255, 0.2);
  z-index: 99;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
  font-family: "Orbitron";
}
.logo span {
  color: #ff00ff;
}

/* Links */
.nav-links a {
  color: #ffffff;
  margin-left: 30px;
  text-decoration: none;
  font-family: "Orbitron";
  position: relative;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background: #00eaff;
  box-shadow: 0 0 10px #00eaff;
  transition: 0.4s;
}

.nav-links a:hover {
  color: #00eaff;
}

.nav-links a:hover::after {
  width: 100%;
}
